robotframework==6.1.1
robotframework-seleniumlibrary==6.2.0
selenium==4.16.0
requests
Cython
pymssql
pyodbc
robotframework-databaselibrary==1.2.4
psycopg2-binary
robotframework-postgresqldb
robotframework-requests
robotframework-pabot
lxml
robotframework-imaplibrary2
openpyxl
simplejson
robotremoteserver
robotframework-archivelibrary
python-dateutil
webdrivermanager
jsonpath